		<section class="content-header">
			<h1>Profile <small></small></h1>
			<ol class="breadcrumb">
				<li>
					<a href="#"><i class="fa fa-dashboard"></i> Home</a>
				</li>
				<li>
					<a href="#">User Profile</a>
				</li>
				<li class="active">User Profile</li>
			</ol>
		</section><!-- Main content -->
		<section class="content">
			<!-- Default box -->
			<%= render 'shared/flash' %>
			<div class="row col-md-3">
				<div class="box box-primary">
				<div class="box-body box-profile">
	              <center><h1><i class="fa fa-fw fa-user-circle" style="font-size:80px;color;"></i></h1></center>
	
	              <h3 class="profile-username text-center"><%= @user.name.titleize %></h3>
	
	              <p class="text-muted text-center">Software Engineer</p>
	
	              <ul class="list-group list-group-unbordered">
	                <li class="list-group-item">
	                  <b>User Name</b> <a class="pull-right"><%= @user.name %></a>
	                </li>
	                <li class="list-group-item">
	                  <b>Full Name</b> <a class="pull-right"><%= @user.fullname %></a>
	                </li>
	                <li class="list-group-item">
	                  <b>Email</b> <a class="pull-right"><%= @user.email %></a>
	                </li>
	              </ul>
				<center>
	              <%= link_to raw("<i class=\"fa fa-edit \" aria-hidden=\"true\"></i> Change Password"), edit_profile_path(current_user) , :class => "btn btn-success btn-flat" %> 
	            </center>
	            </div>
	            </div>
			</div>
		</section>
        