		<section class="content-header">
			<h1>Users <small>List</small></h1>
			<ol class="breadcrumb">
				<li>
					<a href="#"><i class="fa fa-dashboard"></i> Home</a>
				</li>
				<li>
					<a href="#">Users</a>
				</li>
				<li class="active">Index page</li>
			</ol>
		</section><!-- Main content -->
		<section class="content">
			<%= render 'shared/flash' %>
			<div class="box box-danger">
				<!-- /.box-header -->
				<div class="box-header">
		        </div>
				<div class="box-body padding-xs">
					<table class="table table-bordered table-hover" id="dttable">
						<thead>
							<tr>
								<th>Name</th>
								<th>Fullname</th>
								<th>Email</th>
								<th>Branch</th>
								<th style="width: 100px">Action</th>
							</tr>
						</thead>
						<tbody>
							<%@users.each do |user| %>
							<tr>
								<td><%= user.name %></td>
								<td><%= user.fullname %></td>
								<td><%= user.email %></td>
								<td><%= user.branch.name %></td>
								<td>
									<table>
									<tr>
										<td><%= link_to raw("<i class=\"fa fa-edit\" aria-hidden=\"true\"></i>"), edit_user_path(user), :class => "btn btn-warning btn-sm" %> </td>
			                            <td><%= link_to raw("<i class=\"fa fa-gavel\" aria-hidden=\"true\"> </i>"), user_path(user), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger btn-sm" %></td>
	                                </tr>
	                                </table>
                                </td>
							</tr><%end %>
						</tbody>
					</table>
				</div>
			</div><!-- /.box-end -->
		</section>