        <%= render 'shared/errors', obj: @customer %>
        <div class="row">
            
            <%= simple_form_for @customer do |f|  %>
            	<div class="col-sm-2">
            		<div class="form-group">
            			<%= f.input :code, hint: false,:readonly => true, input_html: {value: @customer.code } %>
            		</div>
            	</div>
            	<div class="col-sm-5">
            		<div class="form-group">
            			<%= f.input :name, hint: false,:error => false  %>
            		</div>
            	</div>
            	<div class="col-sm-3">
            		<div class="form-group">
            			<%= f.input :cp, hint: false,:error => false  %>
            		</div>
            	</div>
            	<div class="col-sm-2">
            		<div class="form-group">
            			<%= f.input :telp, hint: false,:error => false  %>
            		</div>
            	</div>
            	<div class="col-sm-2">
            		<div class="form-group">
            		<%= f.input :group, hint: false,:error => false  %>
            		</div>
            	</div>
            	
            	<div class="col-sm-2">
            		<div class="form-group">
            			<%= f.input :status, :collection => [['Active','Active'],['Inactive','Inactive']], :selected => ['Active'], id: 'select' %>
            		</div>
            	</div>
            	<div class="col-sm-2">
            		<div class="form-group">
            		<%= f.input :climit, hint: false,:error => false %>
            		</div>
            	</div>
            	<div class="col-sm-2">
            		<div class="form-group">
            			<%= f.input :dlimit, hint: false,:error => false %>
            		</div>
            	</div>
            	<div class="col-sm-2">
            		<div class="form-group">
            		<%= f.input :tclimit, hint: false,:error => false %>
            		</div>
            	</div>
            	<div class="col-sm-2">
            		<div class="form-group">
            		<%= f.input :tdlimit, hint: false,:error => false %>
            		</div>
            	</div>
            	
                <div class="col-sm-12">
                    <table  class='fields'>
                        <hr>
                    	<%= f.simple_fields_for :addresses do |builder| %>
                    	    <%= render 'address', f: builder %>
                        <% end %>
                    </table>
                    <div class="text-right btn-toolbar">
                        <%= link_to_add_row(raw("<i class=\"fa fa-plus\" aria-hidden=\"true\"> </i> Add Address"), f, :addresses, class: 'btn btn-primary btn-flat') %>
                		<%= link_to raw("<i class=\"fa fa-times\" aria-hidden=\"true\"></i> Cancel"), customers_path , :class => "btn btn-danger btn-flat pull-right" %> 
                		<%= button_tag( :class => "btn btn-success btn-flat pull-right") do %>
            			  <i class="fa fa-check" aria-hidden="true"></i> Submit 
            			<% end %>
        			</div>
            	</div>
            <%end %>
        </div>