        <%= render 'shared/errors', obj: @customer %>
        <div class="row">
            <%= form_for @customer do |f|  %>
                
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.label :code %><%= f.text_field :code, :class => "form-control" %>
            		</div>
            	</div>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.label :name %><%= f.text_field :name, :class => "form-control"  %>
            		</div>
            	</div>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.label :group %><%= f.text_field :group, :class => "form-control"  %>
            		</div>
            	</div>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.label :cp %><%= f.text_field :cp, :class => "form-control"  %>
            		</div>
            	</div>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.label :status %><%= f.text_field :status, :class => "form-control"  %>
            		</div>
            	</div>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.label :climit %><%= f.text_area :climit, :class => "form-control" %>
            		</div>
            	</div>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.label :dlimit %><%= f.text_area :dlimit, :class => "form-control" %>
            		</div>
            	</div>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.label :tclimit %><%= f.text_area :tclimit, :class => "form-control" %>
            		</div>
            	</div>
            	
            	
            	<br>
            	<%= f.fields_for :addresses do |d| %>
            	<%= d.text_field :name %>
            	<%= d.text_field :address %>
            	<%= d.text_field :region %>
            	<%= d.text_field :city %>
                <%= d.check_box :_destroy %>
                <% end %>
            	<div class="col-sm-12">
            		<%= link_to raw("<i class=\"fa fa-times\" aria-hidden=\"true\"></i> Cancel"), customers_path , :class => "btn btn-danger btn-flat" %> 
            		<%= button_tag( :class => "btn btn-success btn-flat") do %>
        			  <i class="fa fa-check" aria-hidden="true"></i> Submit 
        			<% end %>
            	</div>
            <%end %>
        </div>