<%= render 'shared/errors', obj: @salesman %>
<div class="row">
    <%= form_for @salesman do |f|  %>
    <form role="form">
        <div class="col-sm-12">
    		<div class="form-group">
    			<%= f.label :code, "kode" %><%= f.text_field :code, :class => "form-control" %>
    		</div>
    	</div>
    	<div class="col-sm-12">
    		<div class="form-group">
    			<%= f.label :name %><%= f.text_field :name, :class => "form-control" %>
    		</div>
    	</div>
    	<div class="col-sm-12">
    		<div class="form-group">
    			<%= f.label :dbirth %><%= f.text_field :dbirth, :id => "fdate", :class => "form-control"  %>
    		</div>
    	</div>
    	
    	<div class="col-sm-12">
    		<div class="form-group">
    			<%= f.label :identity %><%= f.text_field :identity, :class => "form-control"  %>
    		</div>
    	</div>
    	<div class="col-sm-12">
    		<div class="form-group">
    			<%= f.label :status %><%= f.text_field :status, :class => "form-control"  %>
    		</div>
    	</div>
    	
    	<br>
    	<div class="col-sm-12">
    		<%= link_to raw("<i class=\"fa fa-times\" aria-hidden=\"true\"></i> Cancel"), salesmen_path , :class => "btn btn-danger btn-flat" %> 
    		<%= button_tag( :class => "btn btn-success btn-flat") do %>
			  <i class="fa fa-check" aria-hidden="true"></i> Submit 
			<% end %>
    	</div>
    </form><%end %>
</div>