<tr>
<td class="col-sm-2"><%= f.input :startfrom, :as => :string, :input_html => { :class => 'fdate' }   %></td>
<td class="col-sm-2"><%= f.input :finishdate, :as => :string, :input_html => { :class => 'fdate' }   %></td>
<td class="col-sm-2"><%= f.input :targetbox %></td>
<td class="col-sm-3"><%= f.input :targetsales %></td>
<td class="col-sm-3"><%= f.input :note %></td>
<td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= button_tag( :class => "remove_record btn btn-warning pull-right") do %>
	    <i class="fa fa-trash-o" aria-hidden="true"></i> 
	<% end %>
</td>
</tr>