<section class="content-header">
	<h1>Company Profile <small>Edit</small></h1>
	<ol class="breadcrumb">
		<li>
			<a href="#"><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li>
			<a href="#">Examples</a>
		</li>
		<li class="active">Blank page</li>
	</ol>
</section><!-- Main content -->
<section class="content">
	<%if @header.errors.any? %>
	<h3>Error, Cannot save to database</h3>
	<ul>
		<%@header.errors.full_messages.each do |msg| %>
		<li><%= msg %></li><%end %>
	</ul><%end %><%= form_for @header do |f|  %>
	<p><%= f.label :title %><br>
	<%= f.text_field :title %></p>
	<p><%= f.label :header %><br>
	<%= f.text_field :header %></p>
	<p><%= f.label :content %><br>
	<%= f.text_area :content %></p>
	<p><%= f.label :footer %><br>
	<%= f.text_field :footer %></p>
	<p><%= f.label :note %><br>
	<%= f.text_area :note %></p>
	<div class="flatpickr">
		<input data-input="" placeholder="Select Date.." type="text"> <!-- input is mandatory -->
		 <a class="input-button" data-toggle="" title="toggle"><i class="icon-calendar"></i></a> <a class="input-button" data-clear="" title="clear"><i class="icon-close"></i></a>
	</div>
	<p><%= f.submit %></p><%end %>
</section>