<h1>Show data</h1>
<p> name = <%= @header.title %></p>
<p> header = <%= @header.header %></p>
<p> content = <%= @header.content %></p>
<p> footer = <%= @header.footer %></p>
<p> note = <%= @header.note %></p>