<h1>Show data</h1>
<p> name = <%= @header.title %></p>
<p> name = <%= @header.header %></p>
<p> name = <%= @header.content %></p>
<p> name = <%= @header.footer %></p>
<p> name = <%= @header.note %></p>