<tr>
<td class="col-sm-3"><%= f.input :name %></td>
<td class="col-sm-5"><%= f.input :address %></td>
<td class="col-sm-1"><%= f.input :region %></td>
<td class="col-sm-1"><%= f.input :city %></td>
<td class="col-sm-2"><%= f.input :telp, :input_html => {:class=> 'phone'}  %></td>
<td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= button_tag( :class => "btn btn-warning pull-right", 
        'data-toggle' => 'confirmation', 
        'data-placement' => 'top', 
        'data-singleton' => 'true'
    ) do %>
	    <i class="fa fa-trash-o" aria-hidden="true"></i> 
	<% end %>
</td>
</tr>