<tr>
<td class="col-sm-2"><%= f.input :code %></td>
<td class="col-sm-2"><%= f.input :name %></td>
<td class="col-sm-2"><%= f.input :kw %></td>
<td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= button_tag( :class => "btn btn-warning pull-right", 
        'data-toggle' => 'confirmation', 
        'data-placement' => 'top', 
        'data-singleton' => 'true'
    ) do %>
	    <i class="fa fa-trash-o" aria-hidden="true"></i> 
	<% end %>
</td>
</tr>