        <%= render 'shared/errors', obj: @account %>
        <div class="row">
            <%= form_for @account do |f|  %>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.label :code %><%= f.text_field :code, :class => "form-control" %>
            		</div>
            	</div>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.label :label %><%= f.text_field :label, :class => "form-control"  %>
            		</div>
            	</div>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.label :dk %><%= f.text_field :dk, :class => "form-control"  %>
            		</div>
            	</div>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.label :du %><%= f.text_field :du, :class => "form-control"  %>
            		</div>
            	</div>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.label :header %><%= f.text_field :header, :class => "form-control"  %>
            		</div>
            	</div>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.label :description %><%= f.text_area :description, :class => "form-control" %>
            		</div>
            	</div>
            	<br>
            	<div class="col-sm-12">
            		<%= link_to raw("<i class=\"fa fa-times\" aria-hidden=\"true\"></i> Cancel"), accounts_path , :class => "btn btn-danger btn-flat" %> 
            		<%= button_tag( :class => "btn btn-success btn-flat") do %>
        			  <i class="fa fa-check" aria-hidden="true"></i> Submit 
        			<% end %>
            	</div>
            <%end %>
        </div>