        <%= render 'shared/errors', obj: @account %>
        <div class="row">
            <%= simple_form_for @account do |f|  %>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.input :code, hint: false,:error => false %>
            		</div>
            	</div>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.input :label, hint: false,:error => false %>
            		</div>
            	</div>
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.input :header, hint: false,:error => false %>
            		</div>
            	</div>
            	<div class="col-sm-6">
            		<div class="form-group">
            			<%= f.input :dk, :collection => [['Debet','Debet'],['Kredit','Kredit']], id: 'select' %>
            		</div>
            	</div>
            	<div class="col-sm-6">
            		<div class="form-group">
            			<%= f.input :du, :collection => [['Master','Master'],['Detail','Detail']], id: 'select' %>
            		</div>
            	</div>
            	
            	<div class="col-sm-12">
            		<div class="form-group">
            			<%= f.input :description, as: :text , hint: false,:error => false %>
            		</div>
            	</div>
            	<br>
            	<div class="col-sm-12">
                	<div class="text-right btn-toolbar">
                		<%= link_to raw("<i class=\"fa fa-times\" aria-hidden=\"true\"></i> Cancel"), accounts_path , :class => "btn btn-danger btn-flat pull-right" %> 
                		<%= button_tag( :class => "btn btn-success btn-flat pull-right") do %>
            			  <i class="fa fa-check" aria-hidden="true"></i> Submit 
            			<% end %>
                	</div>
            	</div>
            <%end %>
        </div>