		<section class="content-header">
			 <%= link_to raw("<i class=\"fa fa-plus\" aria-hidden=\"true\"> </i> Create New Account"), new_account_path, :class => "btn btn-primary btn-flat "%>
			<ol class="breadcrumb">
				<li>
					<a href="#"><i class="fa fa-dashboard"></i> Home</a>
				</li>
				<li>
					<a href="#">Chart of Accounts</a>
				</li>
				<li class="active">Index page</li>
			</ol>
		</section><!-- Main content -->
		<section class="content">
			<%= render 'shared/flash' %>
			
			<div class="box box-primary">
				<!-- /.box-header -->
				<div class="box-header ">
	            	<h3 class="box-title">Chart of Accounts (CoA)</h3> <small>List</small>
	            </div>
				<div class="box-body padding-xs">
					<table id="dttable" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th style="width: 100px">Code</th>
								<th>Accounts</th>
								<th style="width: 10px">D/U</th>
								<th style="width: 80px">D/K</th>
								<th style="width: 100px">Header</th>
								<th>Description</th>
								<th style="width: 110px">Update</th>
								<th style="width: 80px">Action</th>
							</tr>
							</thead>
							</tbody>
							<tr><%@accounts.each do |account| %>
								<td><%= account.code %></td>
								<td><%= account.label %></td>
								<td><span class="label <%= account.du %>"><%= account.du %></span></td>
								<td><span class="label <%= account.dk %>"><%= account.dk %></span></td>
								<td><%= account.header %></td>
								<td><%= account.description %></td>
								<td><%= account.updated_at.strftime("%d %b %Y") %></td>
								<td>
								<table>
								<tr><td>
								<%= link_to raw("<i class=\"fa fa-edit\" aria-hidden=\"true\"></i>"), edit_account_path(account), :class => "btn btn-warning btn-sm", :rel => "tabs" %> </td>
								<td><%= link_to raw("<i class=\"fa fa-gavel\" aria-hidden=\"true\"> </i>"), account_path(account), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger btn-sm", :rel => "tabs" %>
								</td></tr>
								</table>
							</tr><%end %>
						</tbody>
					</table>
				</div><!-- /.box-body -->
				
			</div><!-- /.box-end -->
			
		</section>