        <section class="content">
        <%= render 'shared/flash' %>
        <h1>Show data</h1>
        <p> code = <%= @account.code %></p>
        <p> label = <%= @account.label %></p>
        <p> dk = <%= @account.dk %></p>
        <p> du = <%= @account.du %></p>
        <p> description = </p><%= @account.description.html_safe %>
        <p> header = <%= @account.header %></p>
        <p> branch_id = <%= @account.branch_id %></p>
        <p> updated_at = <%= @account.updated_at %></p>
        <p> created_at = <%= @account.created_at %></p>
        <%= link_to raw("<i class=\"fa fa-arrow-left\" aria-hidden=\"true\"></i> Back"), accounts_path , :class => "btn btn-primary btn-flat" %> 
        </section>